<header class="mai-header top-0 sticky z-1">
  <nav aria-label="Global" class="w-full flex items-center justify-between px-4 py-2">
    <div class="flex-shrink-0">
      <a href="/" class="-m-1.5 p-1.5">
        <img src="static/mai.png" width="50" height="50" alt="Logo">
      </a>
    </div>

    <div class="flex-1 flex justify-center">
      <div class="flex gap-x-12">
        <a href="/books" class="mai-nav-link">Книги</a>
        <a href="/readers" class="mai-nav-link">Читатели</a>
      </div>
    </div>

    <div class="flex-shrink-0 w-12"></div>
  </nav>
</header>
