<header class="bg-gray-900 top-0 sticky z-1">
  <nav aria-label="Global" class="w-full flex items-center justify-between px-4">

    <div class="flex-shrink-0">
      <a href="/" class="-m-1.5 p-1.5">
        <img src="static/mai_logo_2.png" width="50" height="50" alt="Logo">
      </a>
    </div>

    <div class="flex-1 flex justify-center">
      <div class="flex gap-x-12">
        <a href="/books" class="text-sm/6 font-semibold text-white hover:text-gray-300 transition-colors">Книги</a>
        <a href="/readers" class="text-sm/6 font-semibold text-white hover:text-gray-300 transition-colors">Читатели</a>
        <a href="/loans" class="text-sm/6 font-semibold text-white hover:text-gray-300 transition-colors">Выдачи</a>
        <a href="/themes" class="text-sm/6 font-semibold text-white hover:text-gray-300 transition-colors">Темы</a>
        <a href="/publishers" class="text-sm/6 font-semibold text-white hover:text-gray-300 transition-colors">Издатели</a>
      </div>
    </div>

    <div class="flex-shrink-0 w-12"></div>

  </nav>
</header>
